@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/thunderstorm.jpg"), url("../img/rain.jpg");
  background-position: center 0px;
  background-size: 2200px;
  background-repeat: no-repeat;
  transition: 2.5s;
  overflow: hidden
}

body.drizzle {
  background-image: url("../img/drizzle.jpg");
  transition: 2.5s;
}

body.rain {
  background-image: url("../img/rain.jpg");
  transition: 2.5s;
}

body.snow {
  background-image: url("../img/snow.jpg");
  transition: 2.5s;
}

body.rain {
  background-image: url("../img/rain.jpg");
  transition: 2.5s;
}

body.thunderstorm {
  background-image: url("../img/thunderstorm.jpg");
  transition: 2.5s;
}

body.mist,
body.smoke,
body.haze,
body.fog {
  background-image: url("../img/fog.jpg");
  transition: 2.5s;
}

body.dust,
body.sand,
body.ash {
  background-image: url("../img/dust.jpg");
  transition: 2.5s;
}

body.squall {
  background-image: url("../img/squall.jpg");
  transition: 2.5s;
}

body.tornado {
  background-image: url("../img/tornado.jpg");
  transition: 2.5s;
}

body.clear {
  background-image: url("../img/clear.jpg");
  transition: 2.5s;
}

body.clouds {
  background-image: url("../img/clouds.jpg");
  transition: 2.5s;
}

a {
  text-decoration: none;
  color: rgb(215, 200, 255);
}

a:hover {
  text-decoration: underline;
}

#root {
  /* width: 100vw; */
  height: 100vh;
  overflow: hidden;
}

.App {
  background-color: #8b8a8a89;
  width: 400px;
  min-height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(250, 235, 235);
  text-shadow: 2px 2px black;
  transition: 0.5s;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.App.inactive {
  min-height: 100px;
  height: 100px;
  transition: 0.5s;
}

.App__search-component {
  margin-top: 30px;
}

.App__input input {
  margin-right: 20px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  border-radius: 7px;
  padding: 5px;
}

.App__button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-style: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: rgb(231, 231, 231);
  transition: 0.3s;
}

.App__button:hover {
  background-color: rgb(141, 141, 141);
}

.App__button:active {
  color: rgb(87, 87, 87);
}

.App__more-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 330px;
  font-size: 30px;
  background-color: rgba(101, 102, 107, 0.363);
  border-radius: 30px;
  text-shadow: none;
  cursor: pointer;
  transition: 0.5s;
  flex-direction: column;
}


.App__more-component:hover {
  background-color: black;
  width: 140px;
  left: 330px;
}

.App__more-component.active {
  background-color: rgba(146, 146, 146, 0.89);
  /* background-color: rgba(31, 31, 31, 0.781); */

  left: -200px;
  top: 120px;
  width: 800px;
  height: 470px;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.App__more-component>p:first-of-type {
  transform: rotate(90deg);
  white-space: nowrap;
  font-weight: bold;
  transition: 1s;
  font-size: 35px;
}

.App__more-component:hover>p:first-of-type {
  transform: rotate(0deg);
}

.App__more-component>p:nth-of-type(2),
.App__more-component>p:nth-of-type(3) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 1s;
}

.App__more-component>p:nth-of-type(2) {
  top: 10px;
  font-size: 25px;
}

.App__more-component>p:nth-of-type(3) {
  top: 100px;
  font-size: 20px;
}

.App__more-component:hover>p:nth-of-type(2),
.App__more-component:hover>p:nth-of-type(3) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}




.App__more-component .App__more-component-247img {
  width: 100px;
  transform: rotate(90deg);
}


.App__more-component__title {
  font-weight: bold;
  text-shadow: 2px 2px rgb(88, 88, 88);
  margin-top: 15px;
}

.App__more-component__hours {
  display: flex;
  width: 800px;
  margin-top: 15px;
}

.App__more-component__hour {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 18px;
  border-right: solid 1px white;
}

.App__more-component__hour:nth-of-type(8) {
  border-right: none;
}

.App__more-component__hour div {
  height: 40px;
}

.App__more-component__hour div.hour {
  font-size: 25px;
}

.App__more-component__hour div.temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__more-component__hour div.temp img {
  width: 18px;
  height: 18px;
  position: relative;
  top: 1px;
}

.App__more-component__hour div.weather {
  font-size: 13px;
  height: 95px
}

.App__more-component__hour div.weather img {
  margin: 5px 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.App__more-component__hour div.clouds,
.App__more-component__hour div.wind,
.App__more-component__hour div.pressure,
.App__more-component__hour div.humidity {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__more-component__hour div.clouds img,
.App__more-component__hour div.wind img,
.App__more-component__hour div.pressure img,
.App__more-component__hour div.humidity img {
  height: 18px;
  width: 24px;
  padding-right: 6px;
}

.App__more-component__hour div.wind div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4px;
}


.App__more-component__days {
  display: flex;
  width: 800px;
  margin-top: 15px;
}

.App__more-component__day {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 18px;
  border-right: solid 1px white;
}

.App__more-component__day img {
  width: 24px;
}


.App__more-component__footer {
  font-size: 17px;
}

.App__view {
  margin-top: 10px;
  min-width: 320px;
  transition: 1.5s;
}

.App__view-time {
  font-size: 15px;
}

.App__view-title {
  margin: 30px auto 0;
  min-width: 200px;
  padding: 10px;
  width: min-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(31, 31, 31, 0.363);
  border-radius: 10px;
}

.App__view-title h1 {
  letter-spacing: 2px;
  line-height: 43px;
}

.App__view-data {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.App__view-data-general {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}

.App__view-data-general div:nth-of-type(2) div {
  font-size: 16px;
}

.App__view-temp {
  font-size: 40px;
  font-weight: bold;
}

.App__view-sun {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 17px;
}

.App__view-sun img {
  width: 70px;
}

.App__view-details {
  margin: 10px 30px 0;
  background-color: rgba(31, 31, 31, 0.363);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0 15px 15px 15px;
  margin-bottom: 30px;
  transition: 0.3s;
}

.App__view-details:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px 2px rgba(66, 68, 90, 1);
}

.App__view-details.active {
  position: relative;
  top: -100px;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.644);
}

.App__view-pressure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.App__view-pressure img {
  width: 30px;
  margin-right: 10px;
}

.App__view-windspeed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.App__view-windspeed img {
  width: 30px;
  margin-right: 10px;
}

.App__view-clouds {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.App__view-clouds img {
  width: 30px;
  margin-right: 10px;
}

.App__view-humidity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.App__view-humidity img {
  width: 30px;
  margin-right: 10px;
}