@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: gray; */
  background-image: url('../img/thunderstorm.jpg');
}

.App {
  background-color: #ffffff69;
  width: 400px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.App__search-component {
  margin-top: 30px
}

.App__input input {
  margin-right: 20px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  border-radius: 7px;
  padding: 5px
}

.App__button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-style: none;
  border-radius: 7px;
  text-transform: uppercase;
  cursor: pointer;
}

.App__view {
  margin-top: 10px;
}

.App__view-time {
  font-size: 15px;
}

.App__view-title {
  margin: 50px 30px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.App__view-title h1 {

  letter-spacing: 2px;
}

.App__view-title img {
  width: 70px;
}

.App__view-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}